*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 80%;
    height: 100vh;
    margin: auto;
    background-image: url(road.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   padding: 10px;
}

.contenedor .contenedor-texto{
    width: 100%;
    height: auto;
    /*border: 2px solid rebeccapurple;*/
   
}

.contenedor .contenedor-texto p{
    text-align: center;
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(57, 52, 68);
    padding: 20px;
    line-height: 40px;
   
}